* {
    /* border: 1px solid red; */
}

body {
    width: 100vw;
    height: 100vh;
}

p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #181225;
}

label,
input {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #181225;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.15em;
}

.nav-link-menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.15em;
    color: #452fc2;
}

.admin-forms .form-group {
    display: flex;
    justify-content: space-between;
}

.admin-forms .form-control {
    display: flex;
    justify-content: right;
    width: 350px;
}

.nav-tabs a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #452fc2;
}

#bgcity-logo {
    margin-left: 30px;
}

.primary-green {
    color: #3dc18f;
}

.secondary-purple {
    color: #452fc2;
}

.logo-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.15em;
}

.logo-text-admin {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.15em;
}

.landing-register-button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15em;
    color: #3dc18f;
}

#homeContainer {
    background-color: #3dc18f;
    height: 85%;
    background: url("../images/landing-page-bg.svg") no-repeat;
    background-position: center bottom;
    background-size: 1460px auto;
    position: relative;
}

#homeText h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    color: #2f1594;
}

#homeText p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181225;
}

#homeText a {
    width: 240px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.15em;
}

#login-image {
    height: 100%;
    position: relative;
}

#login-image img {
    position: relative;
    top: 200px;
    left: 100px;
    z-index: 100;
}

#purple-bush {
    height: 100%;
    position: relative;
}

#login-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#login-form button {
    width: 275px;
}

#login-image img {
    width: 400px;
    height: 298.45px;
    position: relative;
    top: 280px;
    left: 100px;
    z-index: 100;
}

.btn-register {
    margin-left: 0.5rem;
}

.custom-card-header {
    font-family: Montserrat, "sans serif";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2f1594;
}

#register-form button {
    width: 350px;
}

#register-form img {
    width: 71px;
    height: 37px;
    position: relative;
    top: 32.5px;
    left: 187.5px;
}

#register-image img {
    width: 400px;
    height: 262.09px;
    position: relative;
    top: 300px;
    left: 25px;
    z-index: 100;
}

#currentTime {
    background-color: #3dc18f;
    width: 350px;
    height: 200px;
}

#currentAmountDue {
    background-color: #452fc2;
    width: 350px;
    height: 200px;
}

#currentRide p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.15em;
}

/* ADMIN TEMPLATE */

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 0 10px 35px;
    font-size: 1.1em;
    display: block;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.15em;
    color: #181225;
}

#sidebar ul li a:hover {
    color: #452fc2;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #452fc2;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    margin-left: 15px !important;
    /* background: #6d7fcc; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#admin-body {
    background-color: #f2edf3;
}

#revenue {
    background-color: #452fc2;
    width: auto;
    height: 100px;
}

.d-box {
    background-color: #3dc18f;
    width: 100px;
    height: 200px;
}

#addEquipmentPage {
    height: 150vh;
}

